$white-color: #ffffff;
$orange-color: #f26522;
$dark-color: #1d1d1d;
$bg-color: #252525;
$card-bg: #0e0e0e;

.switch-box {
    position: fixed;
    bottom: 15px;
    right: 120px;
    z-index: 9999;
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        border: 1.5px solid $white-color;
        transition: 0.4s;
        &::before {
            position: absolute;
            content: "";
            height: 25px;
            width: 25px;
            left: 0px;
            bottom: 4px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            transition: 0.4s;
            box-shadow: 0 0px 15px #2020203d;
            background: white url('../img/night.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        &.round {
            border-radius: 34px;
            &::before {
                border-radius: 50%;
            }
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 30px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
    input:checked + .slider {
        background-color: transparent;
        border: 1.5px solid $orange-color;
    }
      
    input:focus + .slider {
        box-shadow: 0 0 1px $orange-color;
    }
      
    input:checked + .slider:before {
        transform: translateX(24px);
        background: white url('../img/sunny.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.theme-dark {
    $main-color: #ffffff;
    $paragraph-color: #ffffff;
    h1, h2, h3, h4, h5, h6 {
        color: $white-color !important; 
    }
    h3 {
        color: $white-color !important; 
        a {
            color: $white-color !important;
            transition: 0.7s;
            &:hover {
                color: $orange-color !important;
            }
        }
    }
    span {
        color: $white-color !important; 
    }
    p {
        color: $white-color !important; 
    }
    body {
        background: $dark-color;
        color: $white-color; 
    }
    .section-title {
        &.three {
            .sub-title {
                background-color: #000000;
            }
        }
    }
    .form-control {
        background-color: $card-bg !important;
        color: $white-color !important;
    }
    .nice-select {
        background-color: $card-bg ;
    }
    .list {
        background-color: $card-bg ;
        .option {
            color: $white-color !important;
        }
    }
    .option {
        &.selected {
            color: $white-color;
            background-color: $orange-color;
        }
        &:hover {
            color: $white-color;
            background-color: $orange-color;
        }
        &.focus {
            color: $white-color;
            background-color: $orange-color;
        }
        &.selected {
            &.focus {
                color: $white-color;
                background-color: $orange-color;
            }
        }
    }
    ul {
        li {
            color: $white-color !important;
        }
    }
    .blog-btn {
        &:hover {
            color: $white-color !important;
        }
    }
    .header-area {
        background-color: $card-bg;
    }
    .navbar-light {
        .navbar-brand {
            .logo-one {
                display: none;
            }
            .logo-two {
                display: inline-block;
            }
        }
    }
    .main-nav {
        background-color: $bg-color;
        nav {
            .navbar-nav  {
                .nav-item {
                    a {
                        color: $white-color;
                        i {
                            color: $white-color;
                        }
                        &:hover {
                            color: $orange-color !important;
                        }
                        &.active {
                            color: $orange-color !important;
                        }
                    }
                    .dropdown-menu {
                        background-color: $bg-color !important;
                        li {
                            a {
                                color: $white-color !important;
                                &.active {
                                    color: $orange-color !important;
                                }
                                &:hover {
                                    color: $orange-color !important;
                                }
                            }
                        }
                    }
                }   
            }
        }
    }
    .banner-area {
        &::before {
            background-color: $card-bg;
            opacity: 0.8;
        }
    }
    .banner-content {
        span {
            background-color: $bg-color;
        }
    }
    .page-title-area  {
        &::before {
            background-color: $card-bg;
            opacity: 0.8;
        }
    }
    .about-area {
        &.two {
            .about-content {
                ul {
                    li {
                        span {
                            background-color: $orange-color;
                        }
                    }
                }
            }
        }
    }
    .benefit-area {
        &.two {
            .benefit-item {
                background-color: transparent;
            }
        }
        &.three {
            background-color: $bg-color;
        }
    }
    .benefit-item {
        background-color: $card-bg;
    }
    .benefit-area {
        &.two {
            .benefit-img {
                img {
                    &:nth-child(2) {
                        opacity: 0.1;
                    }
                }
            }
        }
    }
    .donations-area {
        &.two {
            background-color: $bg-color;
            .donation-item {
                background-color: $card-bg;
            }
        }
    }
    .dream-area {
        background-color: $bg-color;
    }
    .dream-item {
        background-color: $card-bg;
        .sub-span {
            color: $card-bg !important;
        }
    }
    .feature-area {
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: $card-bg;
            opacity: 0.7;
        }
    }
    .feature-area {
        &.two {
            &::before {
                display: none;
            }
        }
    }
    .work-area {
        background-color: $bg-color;
    }
    .work-area {
        .work-content {
            ul {
                li {
                    h3 {
                        span {
                            color: $card-bg !important;
                        }
                    }
                }
            }
        }
    }
  
    .event-area {
        &::before {
            background-color: #000000;
        }
    }
    .event-item {
        .inner {
            h4 {
                color: $orange-color !important;
                span {
                    color: $orange-color  !important;
                }
            }
           
        }
    }
    .event-item-right {
        h4 {
            color: $orange-color !important;
            span {
                color: $orange-color  !important;
            }
        }
    }
    .testimonial-area {
        background-color: $bg-color;
        .testimonial-content {
            background-color: $card-bg;
            &::before {
                background-color: $card-bg;
            }
        }
    }
    .team-area {
        &.four {
            background-color: $bg-color;
        }
    }
    .blog-area {
        background-color: #2f2f2f;
    }
    .blog-item {
        background-color: $card-bg;
    }
    .blog-details-area, .donation-details-area  {
        .details-item {
            .details-img {
                blockquote {
                    background-color: $bg-color;
                    color: $white-color;
                    p {
                        color: $white-color;
                    }
                    i {
                        background-color: $card-bg;
                        color: $white-color;
                    }
                }
               
            }
            .details-post {
                background-color: $bg-color;
            }
            .details-payment {
                background-color: $bg-color;
                .form-radio-area {
                    .form-check-label {
                        color: $white-color;
                    }
                }
            }
        }
    }
    .widget-area {
        .admin {
            background-color: $bg-color;
        }
        .post {
            .post-inner {
                ul {
                    li {
                        h4 {
                            a {
                                color: $white-color;
                                transition: 0.7s;
                                &:hover {
                                    color: $orange-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        .common-right-content {
            ul {
                li {
                    a {
                        color: $white-color;
                        transition: 0.7s;
                        &:hover {
                            color: $orange-color;
                        }
                    }
                }
            }
        }
    }
    .footer-area {
        background-color: $card-bg;
    }
    .faq-area {
        .accordion {
            li {
                a {
                    color: $white-color;
                    i {
                        color: $white-color;
                    }
                }
            }
        }
    }
    .contact-info-area {
        .contact-info {
            a {
                color: $white-color;
                &:hover {
                    color: $orange-color;
                }
            }
        }
    }
    .user-form-area {
        .user-content {
            .user-content-inner {
                .top {
                    h2 {
                        background-color: $bg-color;
                    }
                    .logo-one {
                        display: none;
                    }
                    .logo-two {
                        display: inline-block;
                    }
                }
            }
            .user-content-inner {
                .bottom {
                    p {
                        a {
                            color: $orange-color;
                            &:hover {
                                color: $white-color;
                            }
                        }
                    }
                    ul {
                        li {
                            a {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }
    
}